<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Enter your email" required>
    <input type="password" name="password" placeholder="Enter the password" required>

    <button> SignIn</button>
</form>