#header{
    display:flex;
    justify-content: space-between;
    height: 50px;
    background-color: aqua;
    margin-bottom: 20px;
}
#sign{
    display:flex;
    
    p{
        margin-right: 10px;
    }
}

